<ion-header>
  <!--<ion-toolbar color="warning">
    <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>
    <ion-title>Sorteador - the best</ion-title>
  </ion-toolbar>-->
  <ion-toolbar color="warning">
      <ion-grid>
        <ion-row>
          <ion-col>
            <center>
            <ion-title>
              Sortear os times
            </ion-title></center>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>

    <ion-select cancelText="Cancelar" interface="action-sheet" [(ngModel)]="sortearPor">
      <ion-select-option value="pessoas">Pessoas por times</ion-select-option>
      <ion-select-option value="times">Quantidade de times</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
  <ion-input placeholder="Insira a quantidade" type="number" [(ngModel)]="quantidade"></ion-input>
</ion-item>

<ion-button color="primary"  expand="block" (click)="realizarSorteio()">Sortear</ion-button>

<ion-list>
<div *ngFor="let time of times">
<ion-list-header color="secondary">
  <h3>{{time.nome}}</h3>
</ion-list-header>
<div *ngFor="let jog of listaPessoa">
  <ion-item  *ngIf="jog.time==time.id">
    <ion-label >{{jog.nome}}</ion-label>
  </ion-item>
  </div>
  </div>
</ion-list>

</ion-content>
<ion-footer>
  <ion-fab vertical="bottom" horizontal="end" (click)="compartilhar()">
     <ion-fab-button>
      <ion-icon name="share-social-outline"></ion-icon>
     </ion-fab-button>
   </ion-fab>
</ion-footer>
